services:
  user-auth-plugin:
    image: ghcr.io/farismnrr/user_auth_plugin:latest
    container_name: user_auth_plugin
    user: "1000:1000"
    env_file:
      - .env
    network_mode: "host"
    volumes:
      - ./logs:/app/logs
      - ./assets:/app/assets
    restart: always
